@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

html,
body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

header nav {
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 80px;

    padding-left: 1em;
    padding-right: 1em;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
}

header nav ul li {
    padding-right: 1em;
    font-size: 1.2em;
    font-weight: 600;
}

header nav ul li a {
    text-decoration: none;
    color: black;
}

header nav ul li img {
    height: 100%;
    width: 40px;
}

/* main */
.jumbotron {
    height: 50vh;
    background-color: #7550fe;
    color: white;
    overflow: hidden;
}

.jumbotron .container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;

    height: 100%;
}

.jumbotron h1 {
    font-size: 2.5em;
    font-weight: 600;
    margin: 0;
}
.jumbotron p {
    margin: 0;
    color: rgba(255, 255, 255, 0.6);
    width: 60%;
    font-size: 1.2em;

    margin-top: 1em;
    margin-bottom: 1em;
}

.jumbotron .buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.jumbrotron img {
    height: 100%;
    width: 100%;
}

/* Cols */
.col-6 {
    width: 50%;
}

.col-3 {
    width: 25%;
}

.col-9 {
    width: 75%;
}

.container {
    width: 80%;
    margin: auto;
}

/* Buttons */
button {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1em 2em;
    border-radius: 5px;
    font-size: 1em;
    font-weight: 600;

    margin-right: 0.5em;
}
button:last-child {
    margin-right: 0;
}

button:hover {
    opacity: 0.8;
}

button.success {
    background-color: #00d68f;
    color: white;
}

/* stats */
.stats {
    background-color: white;
    padding: 2em 0;
    width: 100%;
    margin: 0;
}

.stats .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.stats .stat {
    display: flex;
    align-items: center;
}
.stats .stat h5 {
    margin: 0;
    font-size: 1em;
}
.stats .stat .content span {
    font-size: 0.9em;
    font-weight: 400;
}

.stats .stat .ico {
    height: 50px;
    width: 50px;
    background-color: #ffeeda;
    color: #ff941a;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1em;
}

.courses {
    background-color: #f5f4f8;
    margin: 0;
    border-top: 1px solid #e5e5e5;
}

.category {
    margin-top: 4em;
}

.category h3 {
    font-size: 1.5em;
    font-weight: 500;
}

/* cards */
.cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cards .card {
    width: 30%;
    margin-top: 2em;
    margin-bottom: 2em;
    background-color: white;
    border-radius: 0.5em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    overflow: hidden;
}

.cards .thumbnail {
    height: 200px;
    width: 100%;
    background-color: #f5f4f8;
}

.cards .thumbnail img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.cards .info {
    padding: 1em;
}

.cards .info h4 {
    font-size: 1.2em;
    font-weight: 500;
    margin: 0;
}
